.about{
    width: 100%;

    background-color: #F6F1E9;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 80px;

    padding: 120px 100px;
}

.about_image{
    position: relative;
    flex: 1;
}

.about_image img{
    width: 100%;
    height: 750px;

    object-fit: cover;

    border-radius: 40px;

    box-shadow: 0px 20px 40px rgba(0,0,0,0.10);
}

.about_card{
    position: absolute;

    bottom: -40px;
    right: -30px;

    background-color: #013220;

    color: white;

    padding: 35px 50px;

    border-radius: 30px;
}

.about_card h2{
    color: #E5A623;

    font-size: 60px;

    margin-bottom: 5px;
}

.about_card p{
    font-size: 20px;
}

.about_content{
    flex: 1;
}

.about_tag{
    display: inline-block;

    background-color: #E8E1D4;

    color: #013220;

    padding: 10px 22px;

    border-radius: 50px;
    
    font-size: 14px;
    font-weight: 700;

    margin-bottom: 35px;
}

.about_content h1{
    font-size: 90px;
    font-family: 'Playfair';
    font-size: clamp;
    line-height: 1.1;

    color: #013220;

    margin-bottom: 10px;
}

.about_content h1 span{
    color: #D86A3A;
    font-size: clamp;
    font-style: italic;
    font-family: 'Playfair Display',serif;
}

.about_text{
    color: #5E6A67;

    font-size: 28px;

    line-height: 1.8;

    margin-bottom: 50px;
}

.about_features{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.feature{
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.icon{
    width: 90px;
    height: 70px;

    background-color: #F3E3C7;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
}

.feature h3{
    color: #013220;

    font-size: 30px;

    margin-bottom: 10px;
}

.feature p{
    color: #5E6A67;

    font-size: 20px;

    line-height: 1.2;
}